:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --text-decoration-color: #2196f3;
    --white-color:#ffffff;
  }
  
  body {
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  
  /* Логотип */
  .studio-header {
    color: #000;
    font-family: 'Raleway';
  }
  
  .studio-footer {
    display: inline-block;
    color: var(--white-color);
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .logo {
    display: inline-block;
    margin-top: 60;
    margin-bottom: 20;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--text-decoration-color);
    text-decoration: none;
  }
  
  .logo:hover {
    color: var(--text-decoration-color);
  }

  /* Утилиты */
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  
  
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
  }

.hero,
.features{
  align-items: center;
}

.link{
  display: block;
  color: var(--primary-text-color); 
}

/* Скрытый заголовок h1 */
.hidden{
    display: none;
  }

/* Полоса под header*/
   .header{
     outline: 1px solid #ECECEC;
   } 


  /* Header Студия и Фото*/
  .link-studio,
  .link-foto {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-decoration-color);
    text-decoration: none;
  }

  /* Main-nav */
  .main-nav{
    display: flex;
    align-items: center;
  }
  
  /* Site-nav */
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--text-decoration-color);
  }
  
.site-nav{
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav li:not(:last-child){
  margin-right: 50px;
}

  /* Auth-nav */
  .auth-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14
    color: var(--title-text-color);
    text-decoration: none;
  }
  
  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--text-decoration-color);
  }
  
  .auth-nav{
    display: flex;
    margin-left: auto;

  }
  
.auth-nav li+ li{
  margin-left: 50px;
}

  /* Hero */
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .hero .button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
    border-radius: 4px;
    padding: ;
    min-width: 200px;
    text-align: center;
  }

  .hero .button:hover{
    color: var(--white-color);
    background-color: #188CE8;
  }

  /* Заголовки всех секций h1 */
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
  }
  
  /* секция Особенности */
.features{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.features .item{
  width: 270px;
}

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
  }
  
/* Чем мы занимаемся */
.picture{
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  }


  /* секция Наша команда */
  .userpic{
    display: flex;
    justify-content: space-between;
  }

  .peoples{
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 1px solid tomato;
  }

  .name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19
    color: var(--title-text-color);
  }
  
  .position {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
  }
    
  /* Кнопки портфолио */
  .section-btn-all {
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
  }
  
  .section-btn{
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    }

    
  .section-btn:hover,
  .section-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--white-color);
    background-color: var(--text-decoration-color);
  }

  .list-button{
    list-style: none;
  }
  
  /* Портфолио*/

.portfolio{
  margin-top: 94px;
}

.list-button{
  display: flex;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

  .project-name {
    margin: 20px 24px 4px 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color)
  }
  
  .project-type {
    margin: 0 24px 20px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }

  .list-link:hover{
    background-color: var(--text-decoration-color);
  }

  .foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 94px;
  }

.project{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;

  margin-bottom: 30px;
}
  
  /* Footer */
  .footer {
    background: #2f303a;
  }
  
  /* Адрес */
  .list-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color) ;
  text-decoration: none;
  }
  
  .list-address:hover,
  .list-address:focus,
  .mail:hover,
  .mail:focus,
  .tel:hover,
  .tel:focus {
    color: var(--text-decoration-color);
  }
  
  .mail,
  .tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  
  }

.list-address,
.mail{
  display: inline-block;
  margin-bottom: 9px;
}

  .tel{
    display: inline-block;
    margin-bottom: 60px;
  }